@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body {
  /* background-color: #202d36; */
  background-color: var(--bg) !important;
  color: snow;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 20px;
  transition: background-color 0.4s ease !important;
}

.container {
  width: 100%;
  max-width: var(--site-max-width);
  min-width: var(--site-min-width);
  padding-inline: var(--site-padding-inline);
  margin-inline: auto;
}

.text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  color: var(--text);
}

.text-600 {
  font-weight: 600;
}

.text-800 {
  font-weight: 800;
}

.error {
  text-align: center;
  font-size: 1.5em;
  line-height: 30px;
  color: rgb(183, 45, 45);
  padding: 50px 0px;
}

.icon {
  width: 20px;
  height: 20px;
  fill: var(--text);
  user-select: none;
}
